<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Practice">
<listeners>
<listener class-name="TestScenarios.Listeners"></listener>
</listeners>
  <test name="Test">
  <parameter name="browser" value="Chrome"></parameter>
    <classes>

      <class name="TestScenarios.ReporterDemo"/>

    </classes>
  </test> <!-- Test -->
</suite> <!-- Practice -->
